<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideNavClick()"><mat-icon>menu</mat-icon></button>
        <!-- <button mat-icon-button (click)=snav.toggle();><mat-icon>menu</mat-icon></button> -->
        <span>Photo Gallery</span>
        <button mat-button [routerLinkActive]="['active']" [routerLinkActiveOptions]="{extended: true}" [routerLink]="['']"><mat-icon>home</mat-icon> Home</button>
        <!-- <button mat-button (click)="addAlbumClick()"><mat-icon>add</mat-icon> Add Album</button> -->
    </mat-toolbar-row>
</mat-toolbar>
<!-- <app-sidenav></app-sidenav> -->
